
<%= image_tag("the-logo.jpg",:alt => "CUBE", :class => "round", :width => "200px")%>

<header>
<link rel="stylesheet" href="style.css">

	<nav>
		<div class="box">
		<h4>HOME</a></h4> 
	

	<h4 ><%= link_to "HELP", cube_help_path %></h4>

	<h4 >CONTACT</h4></div></nav>


</header>
<main>

<div id="teachers_nav">
	<% if teacher_signed_in? %>
	Signed in as <%= current_teacher.email %>. Not you?
	<%= link_to "Sign Out", destroy_teacher_session_path, :method => "DELETE" %>

	<% else %>
	<h5><%= link_to "Sign up",new_teacher_registration_path %> or <%= link_to "Sign in", new_teacher_session_path %></h5>
	<% end %>
	<p class="search_button"><%= link_to "Search Questions",questions_path %></p>
	<%= yield %>
</div>
</main>